__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.git/
.gitignore
.vscode/
.idea/
storage/originals/*
storage/stamped/*
storage/previews/*
app.db
node_modules/
